ul.ks-cboxtags li input[type="checkbox"]:checked + label {
	background-color: var(--dark-tosca);
	color: #fff;
	transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
	display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}
