@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--gray-light: #ececeb;
	--orange: #f9a828;
	--dark-tosca: #07617d;
	--dark: #2e383f;
	--black: #000000;
	--brown: #311c0d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	font-family: "Poppins", sans-serif;
	height: 100%;
}

@layer components {
	.btn-orange {
		@apply mt-10 py-3 px-4 bg-[var(--orange)] rounded-lg text-white font-medium hover:bg-orange-400 duration-300;
	}
	.btn-outline-orange {
		@apply mt-10 py-2 px-4 bg-[var(--white)] border border-[var(--orange)] rounded-lg text-[var(--orange)] font-medium hover:bg-[var(--orange)] hover:text-white duration-300;
	}
}
